
header {
    background-color: bisque;
    
    text-align: center;
}
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background:url("./light.webp"); */
}
section p{
    font-size: 30px;
}
img{
    margin: 5px;
    width: 60vw;
    height:60vh;
    size: auto;
    
}
footer{
    background: url(./background1.jpeg);
    height: 100vh;
    size: auto;
}
footer .gh{
    text-align: center;
}
